:root {
  --bg-grey: #f8fafb;
  --bg-grey-light: #fcfeff;
  --primary: #52a88a;
  --border-color: #eaeaea;

  --color-text-dark: #111827;
  --color-text-gray: #6b7280;
  --color-text-light: #9ca3af;
  --color-text-white: #ffffff;
}
body {
  color: var(--color-text-dark);
}
.wrapper {
  background: #f8fafb;
  background: linear-gradient(45deg, #fbf8f8fa, #f8fafbb6, #f8fafb4e),
    url("../imgs/bg/color2.jpg");
  background-attachment: fixed;
}
.grid {
  display: grid;
  grid-template-columns: 280px 1fr;
  /* grid-template-rows: 1000px auto; */
  /* gap: 1rem; */
}

aside {
  height: 100vh;
  position: sticky;
  top: 0;
  border-right: 1px solid #0000001b;
  background: var(--bg-grey-light);
  background: linear-gradient(45deg, #ffffffe0, #f8fafbb6, #f8fafbe8),
    url("../imgs/bg/color2.jpg");
  background-attachment: fixed;
  backdrop-filter: blur(15px);
}
.header {
  border-bottom: 1px solid #0000001b;
}
.logo-link {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-size: 1.125rem;
}

.sidebar-items {
  padding: 1rem 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar-group {
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
}
.group-header {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--color-text-gray);
}
ul.sidebar-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
}

ul.sidebar-list li a {
  display: flex;
  font-size: 1.1rem;
  color: var(--color-text-dark);
  align-items: center;
  gap: 0.75rem;
  /* opacity: 0.9; */

  img {
    width: 28px;
  }
}

/* dashboard */

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  border-bottom: 1px solid #0000001b;

  padding: 0 1rem;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.greeting {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem;
}

.dashboard-content {
  padding: 1.5rem;
  .buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    img {
      height: 28px;
      width: 28px;
    }
  }
}

.title {
  margin-bottom: 1.5rem;
}

/* grid cards */
.grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 280px), 1fr));
  gap: 1rem;
}

.grid-card {
  display: block;
  flex-direction: column;
  background-color: var(--bg-grey-light);
  border-radius: 8px;
  border: 1px solid #00000015;
}

.card-header {
  display: flex;
  justify-content: space-;
  gap: 0.5rem;
  padding: 1rem 1rem 1rem 1rem;
  align-items: center;
  border-bottom: 2px solid var(--border-color);

  h3 {
    font-size: 0.9rem;
    color: var(--color-text-gray);
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-text-dark);
  }
}

.img-container {
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  border: 1px solid #e1e2e4;
  border-radius: 8px;
  img {
    width: 100%;
    height: 100%;
  }
}

.card-header-details {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.chart {
  color: green;
}

/* details */
.details-btn {
  color: var(--primary);
  padding: 0.5rem 0 0.5rem 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* user account data */
.grid-cards-three {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;

  .grid-card {
    display: flex;
    flex-direction: column;
    background-color: #fdfdfd78;
    backdrop-filter: blur(25px);
    border: 1px solid #00000015;

    .card-header {
      border: none;
    }
  }
  .amount {
    padding: 1rem 0 1rem 1rem;
  }
  .main-balance {
    font-weight: 900;
    /* color: var(--primary); */
  }
}

/* modal form */
.modal {
  legend {
    font-weight: 600;

    padding: 0.25rem;
  }
  input {
    background-color: white;
    border: none;
    border: 1px solid #eaeaea;
    font-size: 1rem !important;
    /* padding: 0; */
  }
  input:focus-visible {
    outline: none;
    border-bottom: 2px solid var(--primary);
  }
}

.btn-primary {
  background-color: var(--primary);
  color: var(--color-text-white);
  border: none;
  font-weight: 600;
  min-width: fit-content;
}

/* make a payment modal */
.modal {
  .form-group {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
  }
  h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
  label {
    font-weight: 500;
  }
  .form-group-group {
    display: flex;
    gap: 1rem;

    div {
      width: 100%;
    }
  }
  input,
  option,
  select {
    width: 100% !important;
    background-color: hsl(154, 15%, 97%);
    border: 1px solid #eaeaea;
    border-radius: 6px !important;
    font-size: 1rem;
  }
  select {
    padding: 0.5rem;
  }
  .buttons {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
  }
  button {
    width: fit-content !important;
    margin-inline: auto;
    border-radius: 6px !important;
    min-width: fit-content;
  }
  .btn-primary:hover {
    background-color: #2c7259;
  }
  .btn-cancel {
    background-color: #eaeaea;
    font-weight: 600;
  }
  .btn-cancel:hover {
    background-color: #dbdbdb;
  }
}

.nkwa-logo {
  border-radius: 6px;
}

/* page loader */
.page-loader {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.511);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}
.loader {
  width: 40px;
  aspect-ratio: 1;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: -8px 0 0 -8px;
  width: 16px;
  aspect-ratio: 1;
  background: #3fb8af;
  animation: l1-1 2s infinite, l1-2 0.5s infinite;
}
.loader:after {
  background: #ff3d7f;
  animation-delay: -1s, 0s;
}
@keyframes l1-1 {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 100%;
    left: 0;
  }
  50% {
    top: 100%;
    left: 100%;
  }
  75% {
    top: 0;
    left: 100%;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@keyframes l1-2 {
  80%,
  100% {
    transform: rotate(0.5turn);
  }
}

/* section header */
.section-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5rem;
  margin: 3em 0 1rem 0;
}
.active-tab {
  font-weight: 600;
  padding: 0.5rem 0 0.5rem 0.5rem;
  border-radius: 6px 0 0 6px;
  border-top: 1px solid #00000015;
  border-bottom: 1px solid #00000015;
  border-left: 1px solid #00000015;
}

.transaction-history {
  margin-top: 1rem;
}
table {
  width: 100%;
  padding: 1rem;
  background-color: white;
  background-color: var(--bg-grey-light);
  border-radius: 8px;
  border: 1px solid #00000015;
  border-collapse: collapse;
  /* overflow-x: auto; */
}

th {
  padding: 1rem;
  text-align: left;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-text-gray);
  font-weight: 500;
  font-size: 0.85rem;
  border-bottom: 2px solid #00000015;
}

td {
  padding: 0.75rem;
  border-bottom: 1px solid #0000001a;
}

tr:nth-child(odd) {
  background-color: #e1e2e42e;
  backdrop-filter: blur(20px);
}

.fa-copy {
  color: #6b7280;
}

.success {
  background-color: #d5f7eb;
  color: #52a88a;
  padding: 0.25rem 0.75rem;
  font-size: 0.9rem;
  border-radius: 6px;
}
.danger {
  background-color: #fcebf0;
  color: #a85252;
  padding: 0.25rem 0.75rem;
  font-size: 0.9rem;
  border-radius: 6px;
}
.pending {
  background-color: #fcfceb;
  color: #a7a852;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  font-size: 0.9rem;
}
tr:hover {
  background-color: #f3f3f3e9;
  backdrop-filter: blur(15px);
}

/* responsiveness */
@media (max-width: 1200px) {
  .grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid red; */
  }

  .modal button {
    font-size: 0.9rem !important;
    /* border: 2px solid red; */
  }
  .btn {
    font-size: 0.9rem;
  }
  aside {
    height: 100vh;
    z-index: 999;
    overflow: hidden;
    position: fixed;
    top: 0;
    border-right: 1px solid #0000001b;
    background: var(--bg-grey-light);
    background: #fff;
    background-attachment: fixed;
    backdrop-filter: blur(15px);
    min-width: 30%;
    left: -100%;
  }
  .grid-cards-three {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 280px), 1fr));
    gap: 1rem;
    margin-bottom: 1rem;

    .grid-card {
      display: flex;
      flex-direction: column;
      background-color: #fdfdfd78;
      backdrop-filter: blur(25px);
      border: 1px solid #00000015;

      .card-header {
        border: none;
      }
    }
    .amount {
      padding: 1rem 0 1rem 1rem;
    }
    .main-balance {
      font-weight: 900;
      /* color: var(--primary); */
    }
  }

  .title {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .amount {
    font-size: 1rem !important;
  }
}

@media (width < 798px) {
  .grid-cards-three {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;

    .grid-card {
      display: flex;
      flex-direction: column;
      background-color: #fdfdfd78;
      backdrop-filter: blur(25px);
      border: 1px solid #00000015;

      .card-header {
        border: none;
      }
    }
    .amount {
      padding: 1rem 0 1rem 1rem;
    }
    .main-balance {
      font-weight: 900;
      /* color: var(--primary); */
    }
  }

  .grid-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--bg-grey-light);
    border-radius: 8px;
    border: 1px solid #00000015;
    /* background-color: red; */
  }
}
