footer {
  padding: 3rem 0;
  background-color: #000;
  color: var(--color-text-white);
  background-image: url("/imgs/newletter-imgs/texture.png");
}
.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  gap: 2rem;
  .footer-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    ul {
      list-style: none;
    }

    .social-links {
      display: flex;
      gap: 0.5rem;

      .social-link {
        font-size: 1rem;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        color: #000;
        border-radius: 50%;
      }

      li {
        color: var(--color-text-light);
      }
    }
  }
}
