:root {
  --color-primary: #3e92cc;
  --color-primary-dark: #2b6ca3;
  --color-accent: #10b981;
  --color-danger: #ef4444;

  --color-bg-light: #f8fafc;
  --color-bg-card: #ffffff;
  --color-border: #e5e7eb;

  --color-text-dark: #111827;
  --color-text-gray: #6b7280;
  --color-text-light: #9ca3af;
  --color-text-white: #ffffff;

  /* ----------------Typography----------------- */
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-base: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl: 1.875rem;
  --font-4xl: 2.25rem;
  --font-5xl: 3rem;

  /* Headings */
  --font-size-h1: 3rem; /*8px*/
  --font-size-h2: 2.25rem; /*36px*/
  --font-size-h3: 1.875rem; /*30px*/
  --font-size-h4: 1.5rem; /*24px*/

  /* Paragraphs */
  --font-size-base: 1rem; /*16px*/
  --font-size-sm: 0.875rem; /*14px*/
  --font-size-xs: 0.75rem; /*12px*/

  --line-height-base: 1.6;
  --line-height-tight: 1.2;
}
/* font */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* custom  styles */
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding: 0 2rem;
}

/* TEXT */
.text-heading {
  font-size: var(--font-4xl);
  font-weight: var(--font-bold);
  color: var(--text-color);
}

.text-subheading {
  font-size: var(--font-xl);
  font-weight: var(--font-medium);
  color: var(--subtle-text);
}

.text-paragraph {
  font-size: var(--font-base);
  font-weight: var(--font-regular);
  color: var(--text-color);
}

/* flex helpers */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}
body {
  color: var(--color-text-dark);
  font-family: "Satoshi";
  /* font-optical-sizing: auto; */
}
img {
  max-width: 100%;
  max-height: 100%;
}
